body {
    font-family: Arial;
    margin: 0;
    background-color: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #020617;
}

header h1 {
    font-size: 40px;
}

nav {
    position: absolute;
    top: 10px;
    right: 15px;
}

nav a {
    display: inline-block;
    margin-left: 15px;
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

.card {
    background-color: #1e293b;
    width: 300px;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
}

h2 {
    color: #38bdf8;
    font-size: 26px;
}

a:hover {
    color: #0ea5e9;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
}